* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #657ba5;
}

.App {
  text-align: center;
  min-height: 100vh;
  background-color: #784a9e54;
  min-width: 500px;
  max-width: 1500px;
}

.heading {
  padding-top: 1em;
}

.day {
  padding: 3px;
  width: 50px;
  height: 50px;

}

.day:hover {
  background-color: rgb(20, 160, 160);
  cursor: pointer;
}

.marked {
  background-color: rgb(37, 179, 131);
}

.unmarked {
  /* background-color: rgb(190, 93, 76); */
}

.active {
  border: dashed 1px black;
}

.inactive {
  /* background-color: gray; */
}

.future {
  /* background-color: rgb(126, 107, 104); */
}

.future:hover {
  cursor:not-allowed;
}


.habit-history {
  border-radius: 15px;
  background-color: cadetblue;
}

.habit-heading {
  background-color: #784a9e54;
}